DATABASE_URL=postgresql+psycopg2://crawler:crawler_password@localhost:5432/crawler_data
MONGODB_URL=mongodb://crawler:crawler_password@localhost:27017/spider?authSource=admin
MONGO_DATABASE=spider

MYSQL_DATA_USER=your_mysql_user
MYSQL_DATA_PASSWORD=your_mysql_password
MYSQL_DATA_HOST=localhost
MYSQL_DATA_PORT=3306
MYSQL_DATA_DATABASE=your_database_name
